html,
body  {
    /*
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    */
    background-color: lightblue;
    font-size: 16px;
}
.card_text {
    background-color: rgb(182, 171, 117); /* white; */
    text-transform: uppercase;
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    pointer-events: none; /* Important!! - not to intract, not to click */
    font-family: Songer Condensed Extra Bold;
}
.inactive{
    text-decoration: overline;
}
.div-table {
    display: table;         
    width: 100%;         
    background-color: #eee;         
    border: 1px solid #666666;         
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}
.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 33%;         
    background-color: #ccc;  
}
.Red_team{
    color:red;
}
.Blue_team{
    color:blue;
}
.members li{
    list-style-type: none;
}
.members{
    font-size: smaller;
    font-style: oblique;
    border-top: 1px solid black;
}
.card.spy_opened , .card.spy_opened1 , .card.spy_opened2{
    background-color: green;
}
/*  civilian1 */
.card.civilian.closed1 , .card.civilian1{
    /* background-color: blueviolet; */
    /* background-image: url("https://cdn.glitch.global/14b90c05-0271-44f7-9887-e76ca7c2d88c/civilian1_bgimage.gif"); */
    background-image: url("/civilian1_bgimage.gif");
    background-position: center;
    background-size: cover;
}
/*  civilian2 */
.card.civilian.closed2 , .card.civilian2{
    /* background-color: salmon; */
    background-image: url("/civilian2_bgimage.gif");
    background-position: center;
    background-size: cover;
}
/* both civilians */
.card.civilian.civilian1 , .card.civilian.civilian2, .card.civilian1.civilian2 {
    /* background-color: maroon; */
    background-image: url("/civilians_bgimage.gif");
    background-position: center;
    background-size: cover;
}

.card.killer_opened , .card.killer_opened1 , .card.killer_opened2{
background-color: rgb(42, 43, 42);
}
.secret_on .card.spy .card_text, .secret_on .card.spy1 .card_text, .secret_on .card.spy2 .card_text {
  background-color: green;
  color: rgb(196, 193, 186); /* white ? */
}
.secret_on .card.killer .card_text, .secret_on .card.killer1 .card_text, .secret_on .card.killer2 .card_text {
  background-color: rgb(42, 43, 42);
  color: rgb(196, 193, 186); /* white ? */
}
.card.spy_opened1 .card_text, .card.spy_opened2 .card_text {
    background-color: darkgreen;
    color: rgb(182, 171, 117)
}
.border1 {
    border: 1px solid red;
}
.header{
width: 100%;
}
.navigation{
float: right;
}
h1 {
float:  left;
display:contents;
}
.chat_header, .chat_msg {
border: 1px solid;
padding: 10px; 
}

@media (min-width: 640px) {

/* responsive table (left area) */
    .cardspace {
        /* font-size: x-small; */
        float: left;
    padding: 10px; 
        /* padding-right: 10px; */
        width: max(300px, 68%);
        height: max(200px, 100%); 
    }
    /* responsive right area(game log)) */
    .log_area {
        float: left;
        /* padding: 15px; */
        width: max(160px, 27%);
    }
}

td.card {
    /* width: 208px; height: 134px; */
    /* 
    aspect-ratio:3;
    vertical-align: bottom;
    height: 20%; 
    */
    width: 20%;
    text-align: center;
    border: 1px solid;
    background-color: rgb(182, 171, 117); /* rgb(206, 179, 26); */
    padding-bottom: 3%;
    padding-top: 3%;
}
td.my_card_choice {
    background-color: rgb(226, 101, 29); 
}
td.card_choice_no_concent {
    background-color: rgb(217, 255, 0); 
}
.team1 .closed1:hover {
    background: orange;
}
.team2 .closed2:hover {
    background: orange;
}

#system_messages, #chat_messages  {
    list-style-type: none;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#game_progress {
    display: none;
}
.game_head{
    text-align: center;
}
.userControl{
    display: ruby-text;
}
#reconnectButton {
    /* margin-left: 0; display: block; margin-right: auto; */
    float: left;
}
#endTurnButton {
    /* margin-left: auto; display: block; margin-right: 0; */
    float: right;
}

.user_chat {
    border: 1px solid;
    padding: 10px;
}
.errormsg {
    color:red;
    font-size: smaller;
    font-style: oblique;
}
.sysmsg{
    color:grey;
    font-size: smaller;
    font-style: oblique;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% 30%; /* 5% from the top and centered */
    padding: 10px 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  line-height: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variation-settings: normal
}
@media only screen and (min-width: 800px) {
    .card_text {
        font-size: 1.275rem;
        line-height: 1.25rem
    }
   .log_area{
        font-size: .875rem;
    line-height: 1.25rem;
    }
}
@media (min-width: 650px) and (max-width: 800px) {
    .log_area .teams{
        font-size: .675rem;
      }
}
@media only screen and (min-width: 920px) {
    .card_text {
        font-size: 1.575rem;
        line-height: 1.25rem
    }
}
@media  (min-width: 1200px) {
    .card_text {
        font-size: 1.875rem;
        line-height: 1.25rem
    }
}
@font-face {
    font-family: "Songer Condensed Extra Bold";
    src: url("https://cdn.glitch.global/14b90c05-0271-44f7-9887-e76ca7c2d88c/SONGERCondensed-ExtraBold.woff2?v=1712954170274")format("woff2"),
    url("https://cdn.glitch.global/14b90c05-0271-44f7-9887-e76ca7c2d88c/SONGERCondensed-ExtraBold.woff?v=1712954162485")format("woff"),
    url("https://cdn.glitch.global/14b90c05-0271-44f7-9887-e76ca7c2d88c/SONGERCondensed-ExtraBold.ttf?v=1712954153054")format("truetype");
}


/* 
@media only screen and (max-width: 800px) {
    .card_text {
        font-size: .875rem;
        line-height: 1.25rem
    }
    .log_area{
        font-size: .875rem;
    line-height: 1.25rem;
    }
}
@media (min-width: 650px) and (max-width: 800px) {
    .log_area .teams{
        font-size: .675rem;
      }
}
@media (min-width: 640px) {
    .card_text {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
    .sm\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .sm\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }

    .sm\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    .sm\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }

    .sm\:leading-tight {
        line-height: 1.25
    }
}


@media (min-width: 501px) {

    .land\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }

    .land\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .land\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    .land\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }

}

@media (min-width: 1201px) {
    .\31 201px\:leading-8 {
        line-height: 2rem
    }
}

/* */

/* junk section */ 
/*
td .card {width: 20%;}

div.parent {
    display: flex;
    height: 100%;
}
div.child {
    display: inline-block;
    align-self: flex-end;
    width: 100%;
}

.bottom_aligner2 {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 0px;
}

div.d {
    background-color: lightgrey;
    width: 150px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
*/

