<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Room created</title>
  <!-- Link to your stylesheet here -->
</head>
<body>
  <p>Room <%= room.title %> created</p>
  <a href="/room/<%= room.id %>"><%= room.title %></a><br>
  <a href="/">Back to home</a>
</body>
</html>