<!DOCTYPE html>
<html>
<head>
  <%- include('../templates/partials/head', {title: 'Error '+error.status}); %>
</head>
<body>
  <%- include('../templates/partials/header', {headline: message}); %>
  <div class="body-main">
    <h2>Error Code: <%= error.status %></h2>
    <pre><%= error.stack %></pre>
    <a href="/">Back to home</a>
  </div>
</body>
</html>
