<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Code Names Board Game</title>
  <!-- Link to your stylesheet here -->
</head>
<body>
  <h1>Welcome to the Code Names Duet</h1>

  <!-- Link to your stylesheet here -->
  <a href="/create">
    <button>Create a Game Room</button>
  </a>
  <ul>
    <% console.log(rooms);
    rooms.forEach(function(room) { %>
      <li><a href="/room/<%= room.id %>"><%= room.title %></a></li>
    <% }) %>
  </ul>
</body>
</html>
