<!DOCTYPE html>
<html>
<head>
  <%- include('../templates/partials/head', {title: 'CodeNames Duet Board Game'}); %>
  <script type="text/javascript"  src="/utils.js"></script>
  <script>
    window.onload = function() {
      userNameBox.value = getCookie("username");
    }
  </script>
</head>
<body>
  <%- include('../templates/partials/header', {headline: 'Welcome to the CodeNames Duet'}); %>
  <div class="body-main">
    Your name: <input type="text" id="userNameBox" name="userNameBox"  />
            <button  onclick="setCookie('username', userNameBox.value, 7);">Change</button>
            <br/><br/>
    <!-- Link to your stylesheet here -->
    <a href="/create">
      <button>Create a Game Room</button>
    </a>
    <ul>
      <% 
      rooms.forEach(function(room) { %>
        <li><a href="/room/<%= room.id %>"><%= room.title %></a></li>
      <% }) %>
    </ul>
  </div>
</body>
</html>
